{% extends 'plasma_link/base.html' %}
{% load mapbox_location_field_tags %} 
{% location_field_includes %}
{% include_jquery %}
{% load crispy_forms_tags %}
{% load static %}

{% block sidebar %}
<p>All donors must meet certain conditions.</p>
<p><i style="color: green" class="far fa-check-circle"></i> Between 18 - 55 year old</p>
<p><i style="color: green" class="far fa-check-circle"></i> Willing and excited to donate</p>
<p><i style="color: red" class="far fa-times-circle"></i> Weight less than 50 kg</p>


{% endblock sidebar %}



{% block content %}

{% include 'plasma_link/includes/form.html' %}

{% endblock content %}