{% extends 'plasma_link/base.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block content %}
<h3>Delete Account?</h3>
<hr>

<div class="alert alert-danger" role="alert">
    <b><i class="fas fa-exclamation-triangle"></i> Warning:</b> This action will permanently delete you account and and donor profile. Click on confirm to proceed.
</div>

<form method="POST">
    {% csrf_token %}
    <fieldset class="form-group">
        {{ form|crispy }}
    </fieldset>
    <div class="form-group">
        <button class="btn btn-info" type="submit">Confirm</button>
    </div>
</form>
{% endblock content %}