{% extends 'plasma_link/base.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block content %}
<h3>Login</h3>
<hr>
<form method="POST">
    {% csrf_token %}
    <fieldset class="form-group">
        {{ form|crispy }}
    </fieldset>
    <div class="form-group">
        <button class="btn btn-info" type="submit">Login</button>
        <!-- <a href="{% url 'social:begin' 'facebook' %}" class="btn btn-primary">Login with Facebook</a> -->
    </div>
</form>
<p>Need An Account? <a class="ml-2" href="{% url 'register' %}">Register</a></p>
{% endblock content %}